node_modules
**/node_modules

arashmusic/dist
arashmusic/dev-dist

arashmusic-downloader/tools
arashmusic-downloader/config.json

navidrome/navidrome.exe
navidrome/navidrome.toml
navidrome/data
navidrome/music
navidrome/LICENSE
navidrome/README.md

*.tsbuildinfo

caddy

*.log
.DS_Store
